@media (min-width:320px) and (max-width: 374px){
    .grid-container{
        display: grid;
        grid-template-columns: repeat(1,1fr) ;
        grid-template-rows: -0.7fr 1fr 0fr;
        grid-template-areas: 
        "barra"
        "login"
        "productos"
        "nuevo"
        "pie";
    }

    .navbar--banner-form {
        margin-top: 1rem;
        width: 86%;
        background-color: #743a1152;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        color: #ccc;
        height: 300px;
        font-weight: bold;
    }

    .btn.btn-primary {
        width: 80%;
        padding: 10px;
        margin-left: 1.5rem;
    }

    .lateral{
        display: block;
    }
    .lateral-txt {
        padding-bottom: 5rem;
    }
    .form-group {
        margin-bottom: 10px; 
        text-align: center;
    }
    .lateral-cont{
        margin-bottom: 2rem;
    }
    .contenido-principal {
        margin: 30px 200px -19px;
        grid-area: productos;
    }

    .grid-container-generos{
        display: grid;
        grid-template-columns: repeat(1,1fr) ;
        grid-template-rows: 0fr 0fr 1fr 1fr ;
        background-color: #ffffff;
        grid-template-areas: 
        "barra"
        "toda"
        "nuevo"
        "nuevo"
        "pie" ;
    }
    .generos-card {
        margin-left: 0rem;
    }

    .contenido-generos .ficcion .card-body:not(:first-child) {
        display: none;
    }

    .generos-card .card-body-generos:not(:first-child) {
        display: none;
    }

    .grid-container-productos{
        display: grid;
        grid-template-columns: repeat(1,1fr) ;
        grid-template-rows: 0fr 0fr 1fr 1fr ;
        background-color: #ffffff;
        grid-template-areas: 
        "barra"
        "libros"
        "libros"
        "libros"
        "pie" ;
    }
    .libros .generos-card-productos .card-body-generos:not(:first-child) {
        display: none;
    }

    .grid-container-nosotros{
        display: grid;
        grid-template-columns: repeat(1,1fr) ;
        grid-template-rows: 0fr 1fr 0fr 0fr ;
        background-color: #ffffff;
        grid-template-areas: 
        "barra"
        "acerca"
        "direccion"
        "pie" ;
    }
    .direccion > div:first-child {
        display: none;
    }

    .direccion {
        grid-area: direccion;
        margin-top: -12rem;
        width: 34rem;
        height: 85%;
        margin-right: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    footer {
        margin-top: 7rem;
    }
    .grid-container-rese{
        display: grid;
        grid-template-columns: repeat(1,1fr) ;
        grid-template-rows: 0fr 5fr 4fr;
        background-color: #ffffff;
        grid-template-areas: 
        "barra"
        "productos"
        "nuevo"
        "pie" ;
    }

    .card-res {
        margin-top: 8rem;
        margin-right: 14rem;
    }
    .contenido-rese {
        grid-area: nuevo;
        margin-top: -49px;
        margin-left: 7rem;
        /* margin-right: 5rem; */
        font-size: 18px;
        margin-right: leg;
    }

    footer {
        margin-top: 25rem;
    }


}


@media (min-width:375px) and (max-width: 424px){
    .grid-container{
        grid-template-columns: repeat(1,1fr) ;
        grid-template-rows: -0.7fr 1fr 0fr;
        grid-template-areas: 
        "barra"
        "login"
        "productos"
        "nuevo"
        "pie";
    }

    .navbar--banner-form {
        width: 85%;
    }

    .lateral{
        display: block;
    }
    .lateral-txt {
        padding-bottom: 5rem;
    }
    .form-group {
        margin-bottom: 10px; 
        text-align: center;
    }
    .lateral-cont{
        margin-bottom: 2rem;
    }
    .contenido-principal {
        margin: 30px 200px -19px;
        grid-area: productos;
    }

    .grid-container-generos{
        display: grid;
        grid-template-columns: repeat(1,1fr) ;
        grid-template-rows: 0fr 0fr 1fr 1fr ;
        background-color: #ffffff;
        grid-template-areas: 
        "barra"
        "toda"
        "nuevo"
        "nuevo"
        "pie" ;
    }

    .contenido-generos .ficcion .card-body:not(:first-child) {
        display: none;
    }

    .generos-card .card-body-generos:not(:first-child) {
        display: none;
    }
    .btn.btn-primary {
        margin-left: 2rem;
    }

    .grid-container-productos{
        display: grid;
        grid-template-columns: repeat(1,1fr) ;
        grid-template-rows: 0fr 0fr 1fr 1fr ;
        background-color: #ffffff;
        grid-template-areas: 
        "barra"
        "libros"
        "libros"
        "libros"
        "pie" ;
    }
    .libros .generos-card-productos .card-body-generos:not(:first-child) {
        display: none;
    }

    .grid-container-nosotros{
        display: grid;
        grid-template-columns: repeat(1,1fr) ;
        grid-template-rows: 0fr 1fr 0fr 0fr ;
        background-color: #ffffff;
        grid-template-areas: 
        "barra"
        "acerca"
        "direccion"
        "pie" ;
    }

    .direccion > div:first-child {
        display: none;
    }

    .direccion {
        grid-area: direccion;
        margin-top: -12rem;
        width: 34rem;
        height: 85%;
        margin-right: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    
    footer {
        background-color: #fbefe5;
        display: flex;
        justify-content: space-around;
        align-items: center;
        grid-area: pie;
        margin-top: 8rem;
    }

    .grid-container-rese{
        display: grid;
        grid-template-columns: repeat(1,1fr) ;
        grid-template-rows: 0fr 5fr 4fr;
        background-color: #ffffff;
        grid-template-areas: 
        "barra"
        "productos"
        "nuevo"
        "pie" ;
    }

    .card-res {
        margin-top: 8rem;
        margin-right: 14rem;
    }
    .contenido-rese {
        grid-area: nuevo;
        margin-top: -49px;
        margin-left: 7rem;
        /* margin-right: 5rem; */
        font-size: 18px;
        margin-right: leg;
    }

    footer {
        margin-top: 25rem;
    }

}


@media (min-width:425px) and (max-width: 768px){
    .grid-container{
        grid-template-columns: repeat(1,1fr) ;
        grid-template-rows: -0.7fr 1fr 0fr;
        grid-template-areas: 
        "barra"
        "login"
        "productos"
        "nuevo"
        "pie";
    }

    .navbar--banner-form {
        width: 93%;
    }
        
    .contenedor {
        text-align: center; /* Centrar el contenido horizontalmente */
    }

    .elemento-a-centrar {
        margin: 0 auto; /* Centrar el elemento horizontalmente */
    }
    .lateral-cont {
        display: flex;
        padding-top: 45px;
        flex-direction: column;
        align-items: center;
        max-width: 350px;
        margin: 0 auto;
        margin-bottom: 2rem;
    }
    .grid-container-generos {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 0fr 0fr 1fr 1fr;
        background-color: #ffffff;
        grid-template-areas:
            "barra"
            "toda"
            "nuevo"
            "nuevo"
            "pie";
    }
    .contenido-generos .ficcion .card-body:not(:first-child) {
        display: none;
    }

    .generos-card .card-body-generos:not(:first-child) {
        display: none;
    }
    .btn.btn-primary {
        margin-left: 2rem;
    }

    .card-body-generos {
        width: 97%;

    }

    .grid-container-productos{
        display: grid;
        grid-template-columns: repeat(1,1fr) ;
        grid-template-rows: 0fr 0fr 1fr 1fr ;
        background-color: #ffffff;
        grid-template-areas: 
        "barra"
        "libros"
        "libros"
        "libros"
        "pie" ;
    }
    .libros .generos-card-productos .card-body-generos:not(:first-child) {
        display: none;
    }

    .grid-container-nosotros{
        display: grid;
        grid-template-columns: repeat(1,1fr) ;
        grid-template-rows: 0fr 1fr 0fr 0fr ;
        background-color: #ffffff;
        grid-template-areas: 
        "barra"
        "acerca"
        "direccion"
        "pie" ;
    }

    .direccion > div:first-child {
        display: none;
    }

    .direccion {
        grid-area: direccion;
        margin-top: -12rem;
        width: 34rem;
        height: 85%;
        margin-right: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    
    footer {
        background-color: #fbefe5;
        display: flex;
        justify-content: space-around;
        align-items: center;
        grid-area: pie;
        margin-top: 8rem;
    }

    .grid-container-rese{
        display: grid;
        grid-template-columns: repeat(1,1fr) ;
        grid-template-rows: 0fr 6fr 4fr;
        background-color: #ffffff;
        grid-template-areas: 
        "barra"
        "productos"
        "nuevo"
        "pie" ;
    }

    .card-res {
        margin-top: 8rem;
        margin-right: 14rem;
    }
    .contenido-rese {
        grid-area: nuevo;
        margin-top: -49px;
        margin-left: 7rem;
        /* margin-right: 5rem; */
        font-size: 18px;
        margin-right: leg;
    }

    footer {
        margin-top: 25rem;
    }
}

@media (min-width:769px) and (max-width: 1024px){

    .grid-container{
        display: grid;
        background-color: #ffffff   ;
        grid-template-columns: repeat(2,1fr) ;
        grid-template-rows: 0.25fr 0fr 0fr -0.9fr;
        grid-template-areas: 
        "barra         barra"
        "login         login"
        "productos     productos"
        "nuevo         nuevo"
        "pie           pie" 
        ;
    }

    .navbar--banner-form {
        margin-top: -1rem;
        width: 81%;
        background-color: #743a1152;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        color: #ccc;
        height: 300px;
        font-weight: bold;
    }

    .sub-title {
        font-weight: 700;
        font-size: 16px;
        text-align: center;
        margin-top: -15rem;
        margin-bottom: 1.5rem;
    }
    .contenido-principal {
        margin: 30px 200px 257px;
        grid-area: productos;
    }

    .navbar--banner {
        flex-direction: column;
        height: 350px;
    }
    .lateral-txt p{
        text-align: center;
        padding: 1rem;
    }
    .lateral-cont {
        padding-bottom: 5rem;
    } 

    .grid-container-generos{
        display: grid;
        grid-template-columns: repeat(2,1fr) ;
        grid-template-rows: 0fr 0fr 1fr 1fr ;
        background-color: #ffffff;
        grid-template-areas: 
        "barra  barra"
        "toda   toda"
        "nuevo  nuevo"
        "nuevo  nuevo"
        "pie    pie" ;
    }
    .generos-card {
        justify-content: space-around;
    }

    .contenido-generos .ficcion .card-body:nth-child(-n+2) {
        display: none;
    }

    .generos-card .card-body-generos:nth-child(-n+2) {
        display: none;
    }

    .grid-container-productos{
        display: grid;
        grid-template-columns: repeat(1,1fr) ;
        grid-template-rows: 0fr 0fr 1fr 1fr ;
        background-color: #ffffff;
        grid-template-areas: 
        "barra        barra"
        "libros       libros"
        "libros       libros"
        "libros       libros"
        "pie          pie" ;
    }
    
    .libros .generos-card-productos .card-body-generos:nth-child(-n+2) {
        display: none;
    }
    
    .generos-card-productos {
        justify-content: space-around;
    }

    .grid-container-nosotros{
        display: grid;
        grid-template-columns: repeat(1,1fr) ;
        grid-template-rows: 0fr 1fr 0fr 0fr ;
        background-color: #ffffff;
        grid-template-areas: 
        "barra"
        "acerca"
        "direccion"
        "pie" ;
    }

    .direccion > div:first-child {
        display: none;
    }

    .direccion {
        margin-top: -11rem;
        margin-right: 1rem;
        margin-left: 9rem;
    }
    
    
    footer {
        background-color: #fbefe5;
        display: flex;
        justify-content: space-around;
        align-items: center;
        grid-area: pie;
        margin-top: 8rem;
    }

    .grid-container-rese{
        display: grid;
        grid-template-columns: repeat(2,1fr) ;
        grid-template-rows: 0fr 1fr 4fr;
        grid-template-areas: 
        "barra           barra"
        "productos       nuevo"
        "productos       nuevo"
        "pie             pie" ;
    }

    .card-res {
        margin-top: 15rem;
        margin-right: -24rem;
    }

    .contenido-rese {
        margin-top: -49px;
        margin-left: 30rem;
        margin-top: 16rem;
}
    .contenido-rese .col {
        margin-right: -3rem;
    }

    footer {
        margin-top: 25rem;
    }


}

@media (min-width:1025px) and (max-width: 1200px){
    .grid-container{
        display: grid;
        grid-template-columns: repeat(4,1fr) ;
        grid-template-rows: -0.5fr 1fr 1fr -0.7fr ;
    }
    .navbar--banner-form {
        width: 63%;
    }
    .grid-container-rese{
        display: grid;
        grid-template-columns: repeat(4,1fr) ;
        grid-template-rows: -0.5fr 1fr 1fr -0.7fr ;
    }

    .navbar--banner{
        flex-direction: column;
        height: auto;
    }

    .lateral-txt p{
        text-align: center;
        padding: 1rem;
    }
    .sub-title {
        font-weight: 700;
        font-size: 16px;
        text-align: center;
        margin-top: 3rem;
        margin-bottom: -0.5rem;
        /* color: #000000; */
    }

    .grid-container-generos{
        display: grid;
        grid-template-columns: repeat(4,1fr) ;
        grid-template-rows: -0.5fr 1fr 1fr -0.7fr ;
    }

    .generos-card {
        justify-content: space-around;
    }

    .contenido-generos .ficcion .card-body:nth-child(-n+2) {
        display: none;
    }

    .generos-card .card-body-generos:nth-child(-n+2) {
        display: none;
    }

    .grid-container-productos{
        display: grid;
        grid-template-columns: repeat(4,1fr) ;
        grid-template-rows: 0fr 0fr 1fr 1fr ;
    }
    
    .libros {
        .generos-card-productos {
            .card-body-generos:nth-child(-n+2) {
                display: none;
            }
        }
    }

    .generos-card-productos {
        justify-content: space-around;
    }

    .grid-container-nosotros{
        display: grid;
        grid-template-columns: repeat(3,1fr) ;
        grid-template-rows: 0fr 1fr 0fr 0fr ;
        background-color: #ffffff;
        grid-template-areas: 
        "barra         barra        barra "
        "acerca        acerca       direccion "
        "pie           pie          pie " ;
    }

    .direccion > .direccion {
        display: none;
    }

    .contenido-nosotros > div:nth-child(2) {
        display: none;
    }

    .grid-container-rese{
        display: grid;
        grid-template-columns: repeat(2,1fr) ;
        grid-template-rows: 0fr 1fr 4fr;
        grid-template-areas: 
        "barra           barra"
        "productos       nuevo"
        "productos       nuevo"
        "pie             pie" ;
    }

    .card-res {
        margin-top: 8rem;
        margin-right: -24rem;
    }

    .contenido-rese {
        margin-top: -49px;
        margin-left: 30rem;
        margin-top: 8rem;
    }
    .contenido-rese .col {
        margin-right: -1rem;
    }
    footer {
        margin-top: 25rem;
    }


}

@media (min-width:1201px) and (max-width: 1761px){

    .grid-container{
        display: grid;
        background-color: #ffffff   ;
        grid-template-columns: repeat(2,1fr) ;
        grid-template-rows: 0.25fr 0fr 0fr 0.1fr;
        grid-template-areas: 
        "barra         barra"
        "login         login"
        "productos     productos"
        "nuevo         nuevo"
        "pie           pie" 
        ;
    }

    .navbar--banner-form {
        margin-top: 1rem;
        width: 46%;
        background-color: #743a1152;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        color: #ccc;
        height: 300px;
        font-weight: bold;
    }

    .lateral {
        grid-area: nuevo;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }

    .lateral-txt p{
        text-align: center;
        padding: 1rem;
    }
    .generos-card .card-body-generos:nth-last-child(-n+1) {
        display: none;
    }
    .contenido-generos .ficcion .card-body:last-child {
        display: none;
    }

    .grid-container-generos{
        display: grid;
        grid-template-columns: repeat(4,1fr) ;
        grid-template-rows: -0.5fr 1fr 1fr -0.7fr ;
    }

    .generos-card {
        justify-content: space-around;
    }

    .grid-container-productos{
        display: grid;
        grid-template-columns: repeat(4,1fr) ;
        grid-template-rows: 0fr 0fr 1fr 1fr ;
    }
    
    .libros .generos-card-productos .card-body-generos:nth-child(-n+1) {
        display: none;
    }

    .generos-card-productos {
        justify-content: space-around;
    }
    .grid-container-nosotros{
        display: grid;
        grid-template-columns: repeat(3,1fr) ;
        grid-template-rows: 0fr 1fr 0fr 0fr ;
        background-color: #ffffff;
        grid-template-areas: 
        "barra         barra        barra "
        "acerca        acerca       direccion "
        "pie           pie          pie " ;
    }

    .direccion > .direccion {
        display: none;
    }

    .contenido-nosotros > div:nth-child(2) {
        display: none;
    }

    .grid-container-rese{
        display: grid;
        grid-template-columns: repeat(2,1fr) ;
        grid-template-rows: 0fr 1fr 4fr;
        grid-template-areas: 
        "barra           barra"
        "productos       nuevo"
        "productos       nuevo"
        "pie             pie" ;
    }

    .card-res {
        margin-top: 8rem;
        margin-right: -24rem;
    }

    .contenido-rese {
        margin-top: -49px;
        margin-left: 44rem;
        margin-top: 8rem;
    }
    .contenido-rese .col {
        margin-right: -1rem;
    }
    footer {
        margin-top: 25rem;
    }

}
