@media (min-width:320px) and (max-width: 374px){
    .grid-container{
        display: grid;
        grid-template-columns: repeat(1,1fr) ;
        grid-template-rows: -0.7fr 1fr 0fr;
        grid-template-areas: 
        "barra"
        "login"
        "productos"
        "nuevo"
        "pie";
    }

    .navbar--banner-form {
        margin-top: 1rem;
        width: 86%;
        background-color: $color-brown;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        color: #ccc;
        height: 300px;
        font-weight: bold;
    }

    .btn.btn-primary {
        width: 80%;
        padding: 10px;
        margin-left: 1.5rem;
    }

    .lateral{
        display: block;
    }
    .lateral-txt {
        padding-bottom: 5rem;
    }
    .form-group {
        margin-bottom: 10px; 
        text-align: center;
    }
    .lateral-cont{
        margin-bottom: 2rem;
    }
    .contenido-principal {
        margin: 30px 200px -19px;
        grid-area: productos;
    }

    .grid-container-generos{
        display: grid;
        grid-template-columns: repeat(1,1fr) ;
        grid-template-rows: 0fr 0fr 1fr 1fr ;
        background-color: $background-white;
        grid-template-areas: 
        "barra"
        "toda"
        "nuevo"
        "nuevo"
        "pie" ;
    }
    .generos-card {
        margin-left: 0rem;
    }

    .contenido-generos .ficcion .card-body:not(:first-child) {
        display: none;
    }

    .generos-card .card-body-generos:not(:first-child) {
        display: none;
    }

    .grid-container-productos{
        display: grid;
        grid-template-columns: repeat(1,1fr) ;
        grid-template-rows: 0fr 0fr 1fr 1fr ;
        background-color: $background-white;
        grid-template-areas: 
        "barra"
        "libros"
        "libros"
        "libros"
        "pie" ;
    }
    .libros .generos-card-productos .card-body-generos:not(:first-child) {
        display: none;
    }

    .grid-container-nosotros{
        display: grid;
        grid-template-columns: repeat(1,1fr) ;
        grid-template-rows: 0fr 1fr 0fr 0fr ;
        background-color: $background-white;
        grid-template-areas: 
        "barra"
        "acerca"
        "direccion"
        "pie" ;
    }
    .direccion > div:first-child {
        display: none;
    }

    .direccion {
        grid-area: direccion;
        margin-top: -12rem;
        width: 34rem;
        height: 85%;
        margin-right: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    footer {
        margin-top: 2rem;
    }

    .grid-container-rese{
        display: grid;
        grid-template-columns: repeat(1,1fr) ;
        grid-template-rows: 0fr 5fr 4fr;
        background-color: $background-white;
        grid-template-areas: 
        "barra"
        "productos"
        "nuevo"
        "pie" ;
    }

    .card-res {
        grid-area: productos;
        /* width: 185px; */
        overflow: hidden;
        margin: auto;
        width: 90%;
        margin-right: 1rem;
        box-shadow: 0px 0px 30px #333;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8rem;
    }

    .contenido-rese {
        grid-area: nuevo;
        /* margin-right: 5rem; */
        width: 100%;
        font-size: 18px;
    }

    .contenido-rese .col {
        border: 5px solid #ddd;
        padding: 0px;
        // border-radius: 10px;
        margin-right: 3rem;
        width: 90%;
        margin-left: 1.5rem;
        margin-top: -4rem;
    }

    .footer_nosotros{
        background-color: $color-footer;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 26rem;
        grid-area: pie;
    
    }

    .vueltainicio {
        margin-top: 9rem;
        margin-left: auto;
        margin-right: 8rem;
        width: 250px;
        padding: 1rem;
        text-align: center;
    }


}
@media (min-width:375px) and (max-width: 424px){
    .grid-container{
        grid-template-columns: repeat(1,1fr) ;
        grid-template-rows: -0.7fr 1fr 0fr;
        grid-template-areas: 
        "barra"
        "login"
        "productos"
        "nuevo"
        "pie";
    }

    .navbar--banner-form {
        width: 85%;
    }

    .lateral{
        display: block;
    }
    .lateral-txt {
        padding-bottom: 5rem;
    }
    .form-group {
        margin-bottom: 10px; 
        text-align: center;
    }
    .lateral-cont{
        margin-bottom: 2rem;
    }
    .contenido-principal {
        margin: 30px 200px -19px;
        grid-area: productos;
    }

    .grid-container-generos{
        display: grid;
        grid-template-columns: repeat(1,1fr) ;
        grid-template-rows: 0fr 0fr 1fr 1fr ;
        background-color: $background-white;
        grid-template-areas: 
        "barra"
        "toda"
        "nuevo"
        "nuevo"
        "pie" ;
    }

    .contenido-generos .ficcion .card-body:not(:first-child) {
        display: none;
    }

    .generos-card .card-body-generos:not(:first-child) {
        display: none;
    }
    .btn.btn-primary {
        margin-left: 2rem;
    }

    .grid-container-productos{
        display: grid;
        grid-template-columns: repeat(1,1fr) ;
        grid-template-rows: 0fr 0fr 1fr 1fr ;
        background-color: $background-white;
        grid-template-areas: 
        "barra"
        "libros"
        "libros"
        "libros"
        "pie" ;
    }
    .libros .generos-card-productos .card-body-generos:not(:first-child) {
        display: none;
    }

    .grid-container-nosotros{
        display: grid;
        grid-template-columns: repeat(1,1fr) ;
        grid-template-rows: 0fr 1fr 0fr 0fr ;
        background-color: $background-white;
        grid-template-areas: 
        "barra"
        "acerca"
        "direccion"
        "pie" ;
    }

    .direccion > div:first-child {
        display: none;
    }

    .direccion {
        grid-area: direccion;
        margin-top: -12rem;
        width: 34rem;
        height: 85%;
        margin-right: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    
    footer {
        background-color: $color-footer;
        display: flex;
        justify-content: space-around;
        align-items: center;
        grid-area: pie;
    }

    .grid-container-rese{
        display: grid;
        grid-template-columns: repeat(1,1fr) ;
        grid-template-rows: 0fr 5fr 4fr;
        background-color: $background-white;
        grid-template-areas: 
        "barra"
        "productos"
        "nuevo"
        "pie" ;
    }

    .card-res {
        grid-area: productos;
        /* width: 185px; */
        overflow: hidden;
        margin: auto;
        width: 90%;
        margin-right: 1rem;
        box-shadow: 0px 0px 30px #333;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8rem;
    }

    .contenido-rese {
        grid-area: nuevo;
        /* margin-right: 5rem; */
        width: 100%;
        font-size: 18px;
    }


    .contenido-rese .col {
        border: 5px solid #ddd;
        padding: 0px;
        border-radius: 10px;
        margin-right: 3rem;
        width: 90%;
        margin-left: 1.5rem;
        margin-top: -4rem;
        
    }

    .footer_nosotros {
        background-color: $color-footer;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 2rem;
    }

    .vueltainicio {
        margin-top: 9rem;
        margin-left: auto;
        margin-right: 8rem;
        width: 250px;
        padding: 1rem;
        text-align: center;
    }

}

@media (min-width:425px) and (max-width: 768px){
    .grid-container{
        grid-template-columns: repeat(1,1fr) ;
        grid-template-rows: -0.7fr 1fr 0fr;
        grid-template-areas: 
        "barra"
        "login"
        "productos"
        "nuevo"
        "pie";
    }

    .navbar--banner-form {
        width: 93%;
    }
        
    .contenedor {
        text-align: center; /* Centrar el contenido horizontalmente */
    }

    .elemento-a-centrar {
        margin: 0 auto; /* Centrar el elemento horizontalmente */
    }

    .contenido-principal {
        margin: 30px 31px 50px;
        grid-area: productos;
    }

    .lateral {
        grid-area: nuevo;
        margin-top: -13rem;

    }
    
    .lateral-cont {
        display: flex;
        padding-top: 45px;
        flex-direction: column;
        align-items: center;
        max-width: 350px;
        margin: 0 auto;
        margin-bottom: 2rem;
    }
    .grid-container-generos {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 0fr 0fr 1fr 1fr;
        background-color: $background-white;
        grid-template-areas:
            "barra"
            "toda"
            "nuevo"
            "nuevo"
            "pie";
    }
    .contenido-generos .ficcion .card-body:not(:first-child) {
        display: none;
    }

    .generos-card .card-body-generos:not(:first-child) {
        display: none;
    }
    .btn.btn-primary {
        margin-left: 2rem;
    }

    .card-body-generos {
        width: 97%;

    }

    .grid-container-productos{
        display: grid;
        grid-template-columns: repeat(1,1fr) ;
        grid-template-rows: 0fr 0fr 1fr 1fr ;
        background-color: $background-white;
        grid-template-areas: 
        "barra"
        "libros"
        "libros"
        "libros"
        "pie" ;
    }
    .libros .generos-card-productos .card-body-generos:not(:first-child) {
        display: none;
    }

    .grid-container-nosotros{
        display: grid;
        grid-template-columns: repeat(1,1fr) ;
        grid-template-rows: 0fr 1fr 0fr 0fr ;
        background-color: $background-white;
        grid-template-areas: 
        "barra"
        "acerca"
        "direccion"
        "pie" ;
    }

    .direccion > div:first-child {
        display: none;
    }

    .direccion {
        grid-area: direccion;
        margin-top: -12rem;
        width: 34rem;
        height: 85%;
        width: 100%;
        margin-right: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    
    footer {
        background-color: $color-footer;
        display: flex;
        justify-content: space-around;
        align-items: center;
        grid-area: pie;
    }

    .grid-container-rese{
        display: grid;
        grid-template-columns: repeat(1,1fr) ;
        grid-template-rows: 0fr 5fr 4fr;
        background-color: $background-white;
        grid-template-areas: 
        "barra"
        "productos"
        "nuevo"
        "pie" ;
    }

    .card-res {
        grid-area: productos;
        /* width: 185px; */
        overflow: hidden;
        margin: auto;
        /* width: 88%; */
        box-shadow: 0px 0px 30px #333;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8rem;
    }

    .contenido-rese {
        grid-area: nuevo;
        
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin-right: 5rem; */
        width: 100%;
        font-size: 18px;
    }

    .contenido-rese .col {
        border: 5px solid #ddd;
        border-radius: 10px;
        margin-right: 0rem;
        margin-top: -4rem;
        margin-bottom: 8rem;
    }

    .vueltainicio {
        margin-top: 9rem;
        margin-left: auto;
        margin-right: auto;
        width: 250px;
        padding: 1rem;
        text-align: center;
    }
}

@media (min-width:769px) and (max-width: 1024px){

    .grid-container{
        display: grid;
        background-color: $background-white;
        grid-template-columns: repeat(2,1fr) ;
        grid-template-rows: 0.25fr 0fr 0fr -0.9fr;
        grid-template-areas: 
        "barra         barra"
        "login         login"
        "productos     productos"
        "nuevo         nuevo"
        "pie           pie" 
        ;
    }

    .navbar--banner-form {
        margin-top: -1rem;
        width: 81%;
        background-color: $color-brown;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        color: #ccc;
        height: 300px;
        font-weight: bold;
    }

    .sub-title {
        font-weight: 700;
        font-size: 16px;
        text-align: center;
        margin-top: -15rem;
        margin-bottom: 1.5rem;
    }
    .contenido-principal {
        margin: 30px 200px 257px;
        grid-area: productos;
    }

    .navbar--banner {
        flex-direction: column;
        height: 350px;
    }
    .lateral-txt p{
        text-align: center;
        padding: 1rem;
    }
    .lateral-cont {
        padding-bottom: 5rem;
    } 

    .grid-container-generos{
        display: grid;
        grid-template-columns: repeat(2,1fr) ;
        grid-template-rows: 0fr 0fr 1fr 1fr ;
        background-color: $background-white;
        grid-template-areas: 
        "barra  barra"
        "toda   toda"
        "nuevo  nuevo"
        "nuevo  nuevo"
        "pie    pie" ;
    }
    .generos-card {
        justify-content: space-around;
    }

    .contenido-generos .ficcion .card-body:nth-child(-n+2) {
        display: none;
    }

    .generos-card .card-body-generos:nth-child(-n+2) {
        display: none;
    }

    .grid-container-productos{
        display: grid;
        grid-template-columns: repeat(1,1fr) ;
        grid-template-rows: 0fr 0fr 1fr 1fr ;
        background-color: $background-white;
        grid-template-areas: 
        "barra        barra"
        "libros       libros"
        "libros       libros"
        "libros       libros"
        "pie          pie" ;
    }
    
    .libros .generos-card-productos .card-body-generos:nth-child(-n+2) {
        display: none;
    }
    
    .generos-card-productos {
        justify-content: space-around;
    }

    .grid-container-nosotros{
        display: grid;
        grid-template-columns: repeat(1,1fr) ;
        grid-template-rows: 0fr 1fr 0fr 0fr ;
        background-color: $background-white;
        grid-template-areas: 
        "barra"
        "acerca"
        "direccion"
        "pie" ;
    }

    .direccion {
        margin-top: -11rem;
        margin-right: 1rem;
        width: 100%;
    }
    
    .direccion > div:first-child {
        display: none;
    }


    
    footer {
        background-color: $color-footer;
        display: flex;
        justify-content: space-around;
        align-items: center;
        grid-area: pie;
    }

    .grid-container-rese{
        display: grid;
        grid-template-columns: repeat(1,1fr) ;
        grid-template-rows: 0fr 5fr 4fr;
        background-color: $background-white;
        grid-template-areas: 
        "barra"
        "productos"
        "nuevo"
        "pie" ;
    }

    .card-res {
        grid-area: productos;
        /* width: 185px; */
        overflow: hidden;
        margin: auto;
        /* width: 88%; */
        box-shadow: 0px 0px 30px #333;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8rem;
    }

    .contenido-rese {
        grid-area: nuevo;
        
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin-right: 5rem; */
        width: 100%;
        font-size: 18px;
    }

    .contenido-rese .col {
        border: 5px solid #ddd;
        border-radius: 10px;
        margin-right: 0rem;
        margin-top: -4rem;
        margin-bottom: 8rem;
    }

    .vueltainicio {
        margin-top: 9rem;
        margin-left: auto;
        margin-right: auto;
        width: 250px;
        padding: 1rem;
        text-align: center;
    }
}

@media (min-width:1025px) and (max-width: 1200px){

    .grid-container{
        display: grid;
        grid-template-columns: repeat(4,1fr) ;
        grid-template-rows: -0.5fr 1fr 1fr -0.7fr ;
    }
    .navbar--banner-form {
        width: 63%;
    }
    .grid-container-rese{
        display: grid;
        grid-template-columns: repeat(4,1fr) ;
        grid-template-rows: -0.5fr 1fr 1fr -0.7fr ;
    }

    .navbar--banner{
        flex-direction: column;
        height: auto;
    }

    .contenido-principal {
        margin: 8px 25px 50px;
        grid-area: productos;
    }

    .lateral-txt p{
        text-align: center;
        padding: 1rem;
    }
    .sub-title {
        font-weight: 700;
        font-size: 16px;
        text-align: center;
        margin-top: 3rem;
        margin-bottom: -0.5rem;
        /* color: #000000; */
    }


    .grid-container-generos{
        display: grid;
        grid-template-columns: repeat(2,1fr) ;
        grid-template-rows: 0fr 0fr 1fr 1fr ;
        background-color: $background-white;
        grid-template-areas: 
        "barra  barra"
        "toda   toda"
        "nuevo  nuevo"
        "nuevo  nuevo"
        "pie    pie" ;
    }
    .navbar {

        width: auto;
    }
    
    .generos-card {
        justify-content: space-around;
        margin-top: 4rem;
    }

    .contenido-generos .ficcion .card-body:nth-child(-n+1) {
        display: none;
    }

    .generos-card .card-body-generos:nth-child(-n+2) {
        display: none;
    }

    .grid-container-productos{
        display: grid;
        grid-template-columns: repeat(1,1fr) ;
        grid-template-rows: 0fr 0fr 1fr 1fr ;
        background-color: $background-white;
        grid-template-areas: 
        "barra        barra"
        "libros       libros"
        "libros       libros"
        "libros       libros"
        "pie          pie";
    }
    
    .libros .generos-card-productos .card-body-generos:nth-child(-n+2) {
        display: none;
    }
    
    .generos-card-productos {
        justify-content: space-around;
    }

    .generos-card-productos {
        justify-content: space-around;
    }

    .grid-container-nosotros{
        display: grid;
        grid-template-columns: repeat(3,1fr) ;
        grid-template-rows: 0fr 1fr 0fr 0fr ;
        background-color: $background-white;
        grid-template-areas: 
        "barra         barra        barra "
        "acerca        acerca       direccion "
        "pie           pie          pie " ;
    }

    .direccion {
        margin-top: 2rem;
        margin-right: 4rem;
    }

    .direccion > .direccion {
        display: none;
    }

    .contenido-nosotros > div:nth-child(2) {
        display: none;
    }

    .card-res {
        grid-area: productos;
        /* width: 185px; */
        overflow: hidden;
        margin: auto;
        /* width: 88%; */
        box-shadow: 0px 0px 30px #333;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10rem;
    }

    .contenido-rese {
        grid-area: nuevo;
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin-right: 5rem; */
        margin-bottom: 10rem;
        font-size: 18px;
    }


    .vueltainicio {
        margin-top: 9rem;
        margin-left: auto;
        margin-right: auto;
        width: 250px;
        padding: 1rem;
        text-align: center;
    }
    
}

@media (min-width:1201px) and (max-width: 1476px){

    .grid-container{
        display: grid;
        background-color: $background-white;
        grid-template-columns: repeat(2,1fr) ;
        grid-template-rows: 0.25fr 0fr 0fr 0.1fr;
        grid-template-areas: 
        "barra         barra"
        "login         login"
        "productos     productos"
        "nuevo         nuevo"
        "pie           pie" 
        ;
    }

    .navbar--banner-form {
        margin-top: 1rem;
        width: 46%;
        background-color: $color-brown;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        color: #ccc;
        height: 300px;
        font-weight: bold;
    }

    .lateral {
        grid-area: nuevo;
        margin-top: -2rem;
        margin-bottom: 2rem;
    }

    .lateral-txt p{
        text-align: center;
        padding: 1rem;
    }
    .grid-container-generos{
        display: grid;
        grid-template-columns: repeat(4,1fr) ;
        grid-template-rows: 0fr 0fr 1fr 1fr ;
        background-color: $background-white;
        grid-template-areas: 
        "barra         barra        barra          barra"
        "toda          toda         toda           toda"
        "nuevo         nuevo        nuevo          nuevo"
        "nuevo         nuevo        nuevo          nuevo"
        "pie           pie          pie            pie" ;
    }
    
    .generos-card .card-body-generos:nth-last-child(-n+1) {
        display: none;
    }
    .contenido-generos .ficcion .card-body:last-child {
        display: none;
    }

    .grid-container-generos{
        display: grid;
        grid-template-columns: repeat(4,1fr) ;
        grid-template-rows: -0.5fr 1fr 1fr -0.7fr ;
    }

    .generos-card {
        justify-content: space-around;
    }
    
    .grid-container-productos{
        display: grid;
        grid-template-columns: repeat(4,1fr) ;
        grid-template-rows: 0fr 0fr 1fr 1fr ;
        background-color: $background-white;
        grid-template-areas: 
        "barra         barra        barra          barra"
        "libros        libros       libros         libros"
        "libros        libros       libros         libros"
        "libros        libros       libros         libros"
        "pie           pie          pie            pie" ;
    }

    .grid-container-productos{
        display: grid;
        grid-template-columns: repeat(4,1fr) ;
        grid-template-rows: 0fr 0fr 1fr 1fr ;
    }
    
    .libros .generos-card-productos .card-body-generos:nth-child(-n+1) {
        display: none;
    }

    .generos-card-productos {
        justify-content: space-around;
    }
    .grid-container-nosotros{
        display: grid;
        grid-template-columns: repeat(3,1fr) ;
        grid-template-rows: 0fr 1fr 0fr 0fr ;
        background-color: $background-white;
        grid-template-areas: 
        "barra         barra        barra "
        "acerca        acerca       direccion "
        "pie           pie          pie " ;
    }

    // .direccion > .direccion {
    //     display: none;
    // }

    // .contenido-nosotros > div:nth-child(2) {
    //     display: none;
    // }

    .direccion {
        margin-top: 2rem;
        height: 78%;
        width: 100%;
        margin-right: 2rem;
    }

    .grid-container-rese{
        display: grid;
        grid-template-columns: repeat(4,1fr) ;
        grid-template-rows: 0fr 1fr 4fr;
    }

    .card-res {
        grid-area: productos;
        /* width: 185px; */
        overflow: hidden;
        margin: auto;
        /* width: 88%; */
        box-shadow: 0px 0px 30px #333;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10rem;
    }

    .contenido-rese {
        grid-area: nuevo;
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin-right: 5rem; */
        margin-bottom: 10rem;
        font-size: 18px;
    }

    footer {
        background-color: $color-footer;
        display: flex;
        justify-content: space-around;
        align-items: center;
        grid-area: pie;
        margin-top: 2rem;
    }

    .vueltainicio {
        margin-top: 5rem;
        margin-left: auto;
        margin-right: auto;
        width: 250px;
        padding: 1rem;
        text-align: center;
    }
}
