$proyect-font:  "Quicksand", sans-serif;

$background-white: #ffffff;
$color-brown: #743a1152;
$color-black: #333;
$color-rojo: #491a1a40;
$color-marroclaro: #743a1152;

$size-title:(
    tittle-prin: 25rem,
    tittle-sec: 4rem,
    tittle-ter:13rem,
    tittle-gap:1rem
)